.persons__total {
  font-family: inherit;
  width: 60%;
  font-size: 2rem;
  padding: 10px 15px;
  height: 30px;
  margin: 50px 0 30px;
}



.person {
  display: flex;
  width: 45%;
  box-sizing: border-box;
  flex-direction: column;
  margin: 30px 40px;
  border: 1px solid #222;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffc800;
}

.person__remove {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.1s;
}

.person__remove:hover {
  color: #ccc;
}

.person__info {
  display: flex;
  background-color: #ffe;
}

.person__name {
  padding: 10px;
}

.person__name-input {
  font-family: inherit;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  font-size: 28px;
  border: 0;
  width: 90%;
  box-sizing: border-box;
}

.person__days-input {
  font-family: inherit;
  background-color: transparent;
  text-align: center;
  padding: 5px 0;
  font-size: 28px;
  border: 0;
  border-bottom: 2px solid #777;
  width: 50%;
  box-sizing: border-box;
}

.person__days {
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #ccc;
}

.person__gastos {
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person__days-title,
.person__gastos-title {
  color: #777;
  margin: 5px 0;
}

.person__gastos-title {
  color: #0006ba;
}

.person__gastos-value {
  font-size: 28px;
  border-bottom: 2px solid #0006ba;
  padding: 5px 0;
  margin: 0;
  font-family: inherit;
}

.persons_add-button {
  margin: 20px;
  max-width: 500px;
  width: calc(100% - 120px);
  height: 50px;
  padding: 10px 0;
  font-size: 20px;
  position: relative;
  transition: all 0.2s;
  border: 0;
  background-color: #222;
  color: #ffc800;
  box-shadow: 0.3em 0.3em 0 0 #ffc800, inset 0.3em 0.3em 0 0 #ffc800;
}

.persons_add-button:hover,
.persons_add-button:focus {
  box-shadow: 0 0 0 0 #ffc800, inset 6em 3.5em 0 0 #ffc800;
  color: #222;
}

@media (max-width: 1280px) {
  .persons {
    padding: 5px;
    width: 100%;
  }

  .person {
    margin: 10px 5px;
    max-width: 45%;
    font-size: 16px;
  }

  .person__name-input {
    font-size: 18px;
  }

  .person__days-input {
    font-size: 18px;
  }

  .person__gastos-value {
    font-size: 18px;
  }

  .person__days,
  .person__gastos {
    padding: 5px 0;
  }
}
