@keyframes shacking {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.persons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.persons__total {
  font-family: "Gloria Hallelujah";
  width: 10%;
  font-size: 3rem;
  margin: 50px 0 30px;
  text-align: center;
}

.persons__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 20px;
}

.persons_add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 20px;
  padding: 15px;
  font-size: 20px;
  transition: all 0.2s;
  background-color: transparent;
  border: 0;
  overflow: hidden;
}

.persons_add-button img {
  width: 100px;
  height: 100px;
}

.persons_add-button img:hover,
.persons_add-button img:focus {
  animation: infinite shacking 0.8s;
}

@media (max-width: 1920px) {
  .persons__list {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media (max-width: 1280px) {
  .persons__list {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .persons__list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
