.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.persons {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.person {
  display: flex;
  margin: 5px;
  flex-direction: column;
  width: 150px;
}
